# this file is formatted as yaml
# see: 
#   https://code.visualstudio.com/docs/cpp/cpp-ide#_code-formatting
#   https://clang.llvm.org/docs/ClangFormatStyleOptions.html

# UseTab: (VS Code current setting)
# IndentWidth: (VS Code current setting)

BasedOnStyle: Google

AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
# AllowShortBlocksOnASingleLine: Always
# AllowShortIfStatementsOnASingleLine: Always
# AllowShortBlocksOnASingleLine: true
# AllowShortIfStatementsOnASingleLine: true

# BreakBeforeBraces: AllMan # vscode default
# BreakBeforeBraces: WebKit
# BreakBeforeBraces: Custom
# BraceWrapping:
#   AfterCaseLabel: false
#   AfterClass: false 
#   AfterEnum: false
#   AfterFunction: false
#   AfterStruct: false
#   BeforeElse: false
  # SplitEmptyFunction: false //doesn't work


